.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #2e2e2e;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item-action {
    width: 100%;
    color: white !important;
    text-align: inherit;
}

.list-group-item-action:hover, .list-group-item-action:focus {
    color: white !important;
    text-decoration: none;
    background-color: #3d3d3d !important;
}
