<template>
    <div id="playlists-page-container">
        <nav-bar v-bind:title="'Playlists'"></nav-bar>
        <div class="row" style="margin-top: 80px; margin-bottom: 30px;">
            <div class="col">
                <new-playlist></new-playlist>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="list-group" >
                    <a v-for="playlist in playlists" role="button" @click="$router.push({ name: 'PlaylistPage', params: {id: playlist.local_id} })"  class="list-group-item list-group-item-action">
                        {{playlist.name}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./playlists.js"></script>
<style src="./playlists.css" scoped></style>
