<template>
    <div id="playlist-page-container">
        <nav-bar v-bind:title="playlist.name"></nav-bar>
        <div class="row" style="margin-top: 50px; margin-bottom: 30px;">
            <div class="col">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table style="margin-top: 30px;" class="table table-dark table-hover table-borderless">
                    <tbody>
                      <tr :class="{currentTrack:track.id == $store.getters.playingTrack.id, trBackground:track.id == $store.getters.playingTrack.id}"  v-for="track, index in tracks" @click="play(tracks, index);">
                        <td style="height: 75px; width: 75px; padding: 0.3em !important;">
                            <img class="img-fluid" height="75" width="75"  v-lazy="track.cover">
                        </td>
                        <td class="align-middle text">
                            <div>
                                <span class="trackTitle noselect" style="color: white;font-size: 1em;">{{track.title}}</span><br>
                                <span style="color: darkgrey !important;font-size: 0.8em;">{{track.artist}}</span>
                            </div>
                        </td>
                        <td class="align-middle text-right" id="context" @click.stop="showModal()">
                            <span id="context-icon" style="height: 24px !important; width: 24px !important; color: grey;"><i class="material-icons align-middle">more_vert</i></span>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script src="./playlist.js"></script>
<style src="./playlist.css" scoped></style>
