.currentTrack .text p{
    color: #1db954 !important;
}

.trBackground{
    background-color: rgba(255, 255, 255, 0.075);
}

.trackTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}

.currentTrack .text span{
    color: #1db954 !important;
}
