<template>
    <div class="d-block d-sm-none">
        <div class="row fixed-top" style="background: #292929;">
            <div class="col-auto align-self-center noselect" @click="$router.go(-1)">
                <button class="ripple">
                    <i style="color: white; font-size: 2.3em;" class="material-icons" role=button>keyboard_arrow_left</i>
                </button>

            </div>
            <div class="col noselect align-self-center" style="padding-left: 0px;">
                <template v-if="title">
                    <h5>{{title}}</h5>
                </template>
            </div>
            <div class="col text-right align-self-center" role="button" style="margin-right: 10px;" @click="$router.go(-1)">
                <i style="color: white;" class="material-icons noselect">more_vert</i>
            </div>
        </div>
    </div>
</template>
<style>

/* Material style */
.ripple {
    background-color: transparent;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

/* Ripple magic */
.ripple{
  position: relative;
  overflow: hidden;
  border: none;
}

.ripple:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(255, 255, 255, .5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

.ripple:focus:after {
  animation: ripple 2s ease-out;
}

</style>

<script src="./nav-bar.js"></script>
