<template>
    <div id="new-playlist-component">
        <modal name="example" :pivotY="0.1" height="auto" :adaptive="true" classes="playlist-modal">
            <div class="input-group mb-3" style="padding: 20px;">
                <input type="text" ref="playlistName" class="form-control" placeholder="Playlist name..">
                <div class="input-group-append">
                    <button class="btn btn-dark" type="submit" @click="createPlaylist()">Save</button>
                </div>
            </div>
        </modal>
        <button type="button" @click="newPlaylist()" class="btn btn-dark btn-block">New Playlist</button>
    </div>
</template>
<script>
    export default {
        methods:{
            newPlaylist(){
                this.$modal.show('example');
            },
            createPlaylist(){
                let indexedDB = window.indexedDB || window.mozIndexedDB || window.webkitIndexedDB || window.msIndexedDB
                var DBOpenRequest = window.indexedDB.open("Zerobam", 1);
                var db;

                DBOpenRequest.onsuccess = function(event) {
                    db = DBOpenRequest.result;
                };

                DBOpenRequest.onupgradeneeded = function(event) {
                    var db = event.target.result;
                    var objectStore = db.createObjectStore("playlists", { keyPath: "local_id" });
                    objectStore.createIndex("name", "name", { unique: false });
                ;}

                let open = indexedDB.open("Zerobam", 1);
                open.onsuccess = ()=> {
                    var uniqueId = Math.random().toString(36).substring(2) + (new Date()).getTime().toString(36);
                    let db = open.result;
                    var tx = db.transaction("playlists", 'readwrite')
                    var objectStore = tx.objectStore("playlists");
                    var objectStoreRequest = objectStore.add({"local_id": uniqueId, "name": this.$refs.playlistName.value});
                    Event.$emit('reloadPlaylists');
                    this.$modal.hide('example');
                }


                // axios.post('/api/playlist/create',{name: this.$refs.playlistName.value}).then(response => {
                // });
            }
        }
    }
</script>
<style scoped>
    .v--modal-overlay {
        position: fixed;
        box-sizing: border-box;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.80);
        z-index: 999;
        opacity: 1;
        z-index: 10000;
    }

</style>
