<template>
    <div style="margin-top: 30px;">
        <div class="row">
            <div class="col">
                <h5 class="trendingsText" style="padding-left: 10px;">Saved Songs</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12" style="margin-bottom: 20px;">
                <table style="margin-top: 30px;" class="table table-dark table-hover table-borderless">
                    <tbody>
                      <tr :class="{currentTrack:track.id == $store.getters.playingTrack.id, trBackground:track.id == $store.getters.playingTrack.id}"  v-for="track, index in tracks" @click="play(tracks, index);">
                        <td style="height: 75px; width: 75px; padding: 0.3em !important;">
                            <img class="img-fluid" height="75" width="75"  v-lazy="track.cover">
                        </td>
                        <td class="align-middle text">
                            <div>
                                <span class="trackTitle noselect" style="color: white;font-size: 1em;">{{track.title}}</span><br>
                                <span style="color: darkgrey !important;font-size: 0.8em;">{{track.artist}}</span>
                            </div>
                        </td>
                        <td class="align-middle text-right" id="context" @click.stop="showModal()">
                            <span id="context-icon" style="height: 24px !important; width: 24px !important; color: grey;"><i class="material-icons align-middle">more_vert</i></span>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                tracks: []
            }
        },
        methods:{
            play(tracks, index){
                Event.$emit('playTrack', tracks, index);
            }
        },
        mounted(){
            axios.get('/api/track/saved-tracks/').then((response)=>{
                var savedTracks = response.data;
                savedTracks.forEach((track, index)=>{
                    this.tracks.push(track);
                })

            });
        }
    }
</script>

<style>
    .currentTrack .text p{
        color: #1db954 !important;
    }

    .trBackground{
        background-color: rgba(255, 255, 255, 0.075);
    }

    .trackTitle {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: 100%;
    }

    .currentTrack .text span{
        color: #1db954 !important;
    }
</style>
