<template>
    <div class="radiajavanCrawler">
        <div class="card">
            <div class="card-header">RadioJavan Crawler</div>
            <div class="card-body">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" v-model="query" placeholder="Artist name">
                    <div class="input-group-append">
                        <button class="btn btn-success" @click="fetchAlbums()">Albums</button>
                        <button class="btn btn-success" id="search" @click="search()" type="submit">Singles</button>
                    </div>
                </div>
                <div v-if="loading">
                    <h1>Loading.....</h1>
                </div>
                <div v-if="singles.length > 0">
                    <hr>
                    <div class="btn-group btn-group-sm">
                      <button type="button" class="btn btn-secondary" @click="fetchLyrics()">Fetch Lyrics</button>
                    </div>
                    <br>
                    <br>
                </div>
                <div class="table-responsive">
                    <table v-if="singles.length > 0" class="table">
                        <thead>
                            <tr>
                                <th>Artwork</th>
                                <th>Artist</th>
                                <th>Title</th>
                                <th>Player</th>
                                <th>Lyric</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="single, index in singles">
                                <td><img :src="single.artwork" width="75px"></td>
                                <td>{{single.artist}}</td>
                                <td>{{single.title}}</td>
                                <td>
                                    <audio controls>
                                        <source :src="single.track_url" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label for="comment">Lyric:</label>
                                        <textarea class="form-control" rows="5" id="comment">{{single.lyric}}</textarea>
                                    </div>
                                </td>
                                <td>
                                   <h2 v-if="single.loading">
                                       Saving...
                                   </h2>
                                   <h2 v-if="single.saved">
                                       Saved!
                                   </h2>
                                </td>
                            </tr>
                            <tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer" v-if="singles.length > 0">
                <button class="btn btn-primary" @click="save()">Save</button>
            </div>
        </div>
        <br>
        <div v-if="albums.length > 0" class="row" v-for="album in albums" style="margin-top: 20px;">
            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" :src="album.image" style="width:100%">
                    <div class="card-body">
                      <h4 class="card-title">{{album.name}}</h4>
                      <a class="btn btn-primary" @click="downloadAlbum(album)">Download</a>
                    </div>
                  </div>
            </div>
            <div class="col-10">
                  <table class="table table-bordered table-sm">
                    <thead>
                      <tr>
                        <th>Tracks</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="track in album.tracks">
                        <td>{{track.name}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        data(){
            return {
                query: "",
                singles: {},
                loading: false,
                albums: {}
            }
        },
        methods:{
        	downloadAlbum(album){
        		axios.post('/admin/crawlers/radiojavan/album/store', {album})
	                .then((response)=>{
                		album.tracks.forEach((track, index)=> {
                			axios.post('/admin/crawlers/radiojavan/album/addTrackToDatabase', {track: track, album: response.data})
                				.then((response)=>{
                					console.log(response);
                				})
                		});
	                })
        	},
            fetchAlbums(){
                this.loading = true;
                this.albums = {};
                this.singles = {};
                axios.get('/admin/crawlers/radiojavan/albums/'+this.query)
                    .then(response => {
                        this.albums = response.data;
                        this.loading = false;
                    });
            },
            search(){
                this.loading = true;
                this.singles = {};
                this.albums = {};
                axios.get('/admin/crawlers/radiojavan/singles/'+this.query)
                    .then(response => {
                        this.singles = response.data;
                        this.loading = false;
                    });
            },
            save(){
                this.singles.forEach((single, index) => {
                    this.$set(this.singles[index],'loading', true);
                    this.$set(this.singles[index],'saved', false);
                    axios.post('/admin/crawlers/radiojavan/singles/store', {single})
                        .then((response)=>{
                            this.$set(this.singles[index],'loading', false);
                            this.$set(this.singles[index],'saved', true);
                        })
                })
            },
            fetchLyrics(){
                this.singles.forEach((single, index) => {
                    axios.post('/admin/crawlers/radiojavan/fetch-lyric', {single, index})
                        .then(response => {
                            var lyric = response.data.lyric;
                            var index = response.data.index;
                            this.$set(this.singles[index], 'lyric', lyric);
                        });
                });
            }
        }
    }
</script>
