<template>
    <div>
        <b-modal id="modal1" class="modal-fullscreen1" ref="lyrics">
            <div class="row text-center">
                <div class="col-6">
                    <div class="row" style="height: 650px; overflow: auto;">
                        <div class="col-12 text-center" v-for="splitedLyric, index in splitedLyrics">
                            <a class="btn btn-link" @click="syncLyrics(splitedLyric, index)"
                                @wheel.prevent="controlTrack($event)">
                                {{splitedLyric}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-6" style="height: 680px; overflow: auto;">
                    <div class="row" v-for="lyrics, index in syncedLyrics">
                        <div class="col-auto">
                            <p>{{index + 1}}</p>
                        </div>
                        <div class="col">
                            <p>{{lyrics.text}}</p>
                        </div>
                        <div class="col-auto">
                            <button @click="playLine(lyrics)" class="btn btn-primary">Play</button>
                        </div>
                        <div class="col-auto">
                            <button @click="removeSyncedLine(index)" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div slot="modal-footer" class="w-100 text-center">
                <div class="row">
                    <div class="col">
                    </div>
                    <div class="col-1 align-self-center">
                        <button @click="rewind()" class="btn">-3</button>
                    </div>
                    <div class="col-auto align-self-center">
                        <audio id="track" controls>
                            <source :src="track.fullUrl" autoplay type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                    <div class="col-1 align-self-center">
                            <button @click="forward()" class="btn">+3</button>
                    </div>
                    <div class="col text-right align-self-center">
                        <button role="button" class="btn btn-primary" @click="saveLyrics()">Save Synced Lyrics</button>
                    </div>
                </div>
           </div>
        </b-modal>
        <button role="button" @click="showModal()">Sync Lyrics</button>
    </div>
</template>

<script>
    export default {
        props:['lyric', 'track'],
        data(){
            return {
                line: {lineNumber:'', text:'', startTime: '', finishTime:''},
                splitedLyrics: [],
                syncedLyrics: [],
            }
        },
        mounted() {
            this.splitedLyrics = this.lyric.lyric.split('\n');
            console.log(this.track);
        },
        methods:{
            controlTrack(event){
                var y = event.deltaY;
                var audio = document.getElementById("track");
                if (y > 0) {
                    audio.currentTime = audio.currentTime - 2;
                } else {
                    audio.currentTime = audio.currentTime + 1;
                }
            },
            removeSyncedLine(index){
                this.$delete(this.syncedLyrics, index)
            },
            showModal(){
                this.$refs.lyrics.show();
            },
            syncLyrics(value, index){
                var audio = document.getElementById("track");
                let delay = 1500;

                if(this.syncedLyrics.length > 0){
                    let time = Math.round((audio.currentTime * 1000) - delay);
                    this.syncedLyrics[this.syncedLyrics.length - 1].finishTime = time;
                    this.syncedLyrics.push({
                        lineNumber: this.syncedLyrics[this.syncedLyrics.length - 1 ].lineNumber + 1,
                        text: value,
                        startTime: Math.round((audio.currentTime * 1000) - delay),
                        finishTime: 0,
                    });
                }else{
                   this.syncedLyrics.push({
                        lineNumber: index,
                        text: value,
                        startTime: Math.round((audio.currentTime * 1000) - delay),
                        finishTime: 0,
                    });
                }
                console.log(this.syncedLyrics);
            },
            saveLyrics(){
                var audio = document.getElementById("track");
                let trackDuration = Math.round(audio.duration * 1000);
                this.syncedLyrics[this.syncedLyrics.length - 1].finishTime = trackDuration;

                axios.patch('/lyric/update/'+this.lyric.id,this.syncedLyrics)
                    .then(response => console.log(response));
            },
            playLine(lyric){
                var audio = document.getElementById("track");
                audio.currentTime = (lyric.startTime / 1000) ;
            },
            forward(){
                var audio = document.getElementById("track");
                audio.currentTime = audio.currentTime + 3;
            },
            rewind(){
                var audio = document.getElementById("track");
                audio.currentTime = audio.currentTime - 3;
            }
        }
    }
</script>

<style>
    /* Important part */
    .modal-dialog{
        overflow-y: initial !important
    }
    .modal-body{
        height: 250px;
        overflow-y: auto;
    }
    .modal-fullscreen1 .modal {
        padding: 0 !important;
    }
    .modal-fullscreen1 .modal-dialog {
        max-width: 100%;
        height: 100%;
        margin: 0;
    }
    .modal-fullscreen1 .modal-content {
        border: 0;
        min-height: 100%;
        height: auto;
    }
</style>
