<template>
    <div style="margin-top: 30px;">

        <div class="row">
            <div class="col">
                <h5 class="trendingsText" style="padding-left: 10px;">Trending Songs</h5>
            </div>
        </div>
        <div class="row">


            <div class="col-12" style="margin-bottom: 20px;">

                <table style="margin-top: 30px;" class="table table-dark table-hover table-borderless">
                    <tbody>
                      <tr  v-for="trendingTrack in trendingTracks">
                        <td style="height: 75px; width: 75px; padding: 0.3em !important;">
                            <img class="img-fluid" height="75" width="75"  v-lazy="trendingTrack.cover">
                        </td>
                        <td class="align-middle text">
                            <div v-if="trendingTrack.album_id != null">
                                <router-link :to="'/album/' + trendingTrack.album_id">
                                    <span style="color: white;font-size: 1em;">{{trendingTrack.title}}</span>
                                </router-link>
                            </div>
                            <div v-else>
                                <router-link :to="'/album/' + trendingTrack.album[0].id">
                                    <span style="color: white;font-size: 1em;">{{trendingTrack.title}}</span>
                                </router-link>
                            </div>
                        </td>
                        <td class="align-middle text-right" id="context" @click.stop="showModal()">
                            <span id="context-icon" style="height: 24px !important; width: 24px !important; color: grey;"><i class="material-icons align-middle">more_vert</i></span>
                        </td>
                      </tr>
                    </tbody>
                </table>



            </div>

        </div>
    </div>
</template>
<script>
    export default{
        name: 'HomePage',
        mounted(){
            this.fetchTrendingTracks();
        },
        data(){
            return{
                trendingTracks: {}
            }
        },
        methods:{
            fetchTrendingTracks(){
                axios.get('/api/trending/').then((response) => {
                    this.trendingTracks = response.data;
                });
            },
            getUser(){
                axios.get('/api/user/').then((response) => {
                    console.log(response.data);
                });
            }
        }
    }
</script>
<style>
    .trendingsText{
        font-weight: bold;
    }
</style>
