<template>
    <div>
        <!-- Modal -->
        <div class="modal fade" id="addTracks" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new song to album {{album.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <form class="cover__form" id="form" enctype="multipart/form-data">
                        <input type="file" name="files[]" id="files" multiple>
                </form>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @click="uploadSongs()"> Upload</button>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTracks">Add Tracks</button>
    </div>
</template>

<script>
    export default{
        props:['album'],
        mounted(){
          console.log(this.album);
        },
        methods:{
            uploadSongs(){
                const fileInput = document.querySelector( '#files' );
                const files = fileInput.files;

                for(let i=0; i < files.length; i++){
                    let formData = new FormData();
                    formData.append('artistID', this.album.artist_id);
                    formData.append('albumID', this.album.id);
                    formData.append('files[]', files[i]);

                    axios.post( '/album/upload', formData ).then( ( response ) => {
                        this.loading = false;
                    })

                }
            }
        }
    }
</script>
