<template>
    <div id="home-navigation" class="d-block d-sm-none">
        <div class="row" style="margin-top: 5px;">
            <div class="col-3 text-center noselect" @click="$router.push('/playlists')">
                <i style="font-size: 2em; color: white;" class="material-icons">playlist_play</i>
                <p style="font-size: 0.6em; color: white;">Playlists</p>
            </div>
            <div class="col-3 text-center no select" @click="$router.push('/saved-songs')">
                <i style="font-size: 2em; color: white;" class="material-icons">save_alt</i>
                <p style="font-size: 0.6em; color: white;">Saved Songs</p>
            </div>
            <div class="col-3 text-center">
                <a href="#">
                    <i style="font-size: 2em; color: white;" class="material-icons">trending_up</i>
                </a>
                <p style="font-size: 0.6em; color: white;">Trending</p>
            </div>
            <div class="col-3 text-center">
                <a href="#">
                    <i style="font-size: 2em; color: white;" class="material-icons">stars</i>
                </a>
                <p style="font-size: 0.6em; color: white;">Popular</p>
            </div>
        </div>
    </div>
</template>
