
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Muli");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.pointer{
    cursor: pointer !important;
}
.resourceButtons{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 10px !important;
    border-radius: 2px !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem !important;
    font-family: arial !important;
    font-weight: bold !important;
    line-height: 1.2 !important;
    color: inherit !important;
}
