<template>
    <div>
        <div class="container-fluid">
           <div class="row">
                <div class="background"></div>

                <div class="d-none d-sm-block col-pixel-width-165" id="left-nav" style="background-color: rgba(0,0,0,.3); padding: 0px !important;">
                    <div class="py-2 d-none d-sm-block sticky-top flex-grow-1 left-nav">
                        <div class="row">
                            <div class="col">
                                <a href="" class="nav-link d-none d-sm-inline">
                                    <router-link :to="'/'">
                                        <span style="color: white; font-size: 0.8em;">Z</span>
                                        <span style="color: white; font-size: 1em;">E</span>
                                        <span style="color: white; font-size: 1.1em;">R</span>
                                        <span style="color: white; font-size: 1.3em;">O</span>
                                        <span style="color: white; font-size: 1.4em;">B</span>
                                        <span style="color: white; font-size: 1.8em;">A</span>
                                        <span style="color: white; font-size: 2.1em;">M</span>
                                    </router-link>
                                </a>
                                <hr>
                            </div>
                        </div>
                        <a class="nav-link">
                            <div class="row noselect zbButton" @click="$router.push('/')">
                                <div class="col-auto" style="height: 32px; padding-right: 0px;">
                                    <i style="color: white; font-size: 2em;" class="material-icons">home</i>
                                </div>
                                <div class="col align-self-center" style="padding-left: 8px">
                                    <span style="font-size: 0.8em; color: white;">Home</span>
                                </div>
                            </div>
                        </a>
                        <a class="nav-link">
                            <div class="row noselect zbButton" @click="$router.push('/search')">
                                <div class="col-auto" style="height: 32px; padding-right: 0px;">
                                    <i style="color: white; font-size: 2em;" class="material-icons">search</i>                                </div>
                                <div class="col align-self-center" style="padding-left: 8px">
                                    <span style="font-size: 0.8em; color: white;">Search</span>
                                </div>
                            </div>
                        </a>
                        <a class="nav-link">
                            <div class="row noselect zbButton" @click="$router.push('/saved-songs')">
                                <div class="col-auto" style="height: 32px; padding-right: 0px;">
                                    <i style="color: white; font-size: 2em;" class="material-icons">music_note</i>                                </div>
                                <div class="col align-self-center" style="padding-left: 8px">
                                    <span style="font-size: 0.8em; color: white;">Saved Songs</span>
                                </div>
                            </div>
                        </a>
                        <a class="nav-link">
                            <div class="row noselect zbButton" @click="$router.push('/playlists')">
                                <div class="col-auto" style="height: 32px; padding-right: 0px;">
                                    <i style="color: white; font-size: 2em;" class="material-icons">playlist_play</i>                                </div>
                                <div class="col align-self-center" style="padding-left: 8px">
                                    <span style="font-size: 0.8em; color: white;">Playlists</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col" id="right-content">
                    <div class="container" id="mainContent" style="padding: 0px 0px 100px 0px !important;">
                        <transition  name="comp-fade" mode="out-in" v-on:before-enter="beforeEnter">
                            <keep-alive :include="['AlbumPage','ArtistPage', 'SearchPage', 'HomePage', 'PlaylistsPage', 'PlaylistPage']">
                                <router-view :key="$route.fullPath"></router-view>
                            </keep-alive>
                        </transition>
                    </div>
                </div>

            </div>
        </div>
        <player :song="song"></player>
    </div>
</template>

<script>
    import ArtistPage from './components/artists/Artist.vue';
    import Player from './Player.vue';
    import SearchPage from './components/SearchPage.vue';

    export default {
        data(){
            return{
                song:{},
                songServer: 'https://afghanjam.ams3.digitaloceanspaces.com/medias/mp3/',
                audio:''
            }
        },
        mounted(){

        },
        components: {
            'ArtistPage': ArtistPage,
            'player': Player,
            'SearchPage' : SearchPage
        },
        methods: {
            beforeEnter(){
                Event.$emit('scrollBeforeEnter');
            }
        }
    }
</script>

<style>

    .background{
        background: #181818;
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        left: 0;
        top: 0;
        position: fixed;
        will-change: transform;
        opacity: 1;
        -webkit-transition: opacity .25s;
        transition: opacity .25s;
    }

    .fade-down-enter-active {
        animation-name: fadeInDown;
        animation-duration: 0.150s;
    }

    .fade-down-leave-active {
        animation-name: fadeOutDown;
        animation-duration: 0.150s;
    }

    @keyframes fadeInDown {
      from { opacity: 0; transform: translate3d(0, 25px, 0); }
      to { opacity: 1; transform: none; }
    }

    @keyframes fadeOutDown {
      from {  opacity: 1; transform: none; }
      to { opacity: 0; transform: translate3d(0, 25px, 0); }
    }

    .sticky-top {
        height: 10000px;
        background-color: rgb(0, 0, 0, 0.6);
        position: fixed;
        /*width: 16.6666%;*/
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid grey;
        margin: 1em 0;
        padding: 0;
    }

    .comp-fade-enter-active, .comp-fade-leave-active {
      transition: opacity 0.150s;
    }
    .comp-fade-enter, .comp-fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
      opacity: 0;
    }

    .zbButton{
        cursor: pointer;
    }

</style>
