<template>
    <div class="fixed-bottom" id="navigation" style="background: #292929;" @wheel.prevent="stopScroll($event)">

        <div class="row">
            <div role="button" class="col d-sm-none" v-show="track">
                <div class="row">
                    <div class="col-2">
                        <i class="material-icons" style="color: white; font-size: 2em; padding: 5px;">keyboard_arrow_up</i>
                    </div>
                    <div class="col-8 align-self-center text-left noselect" @click="$router.push('/player')" style="padding: 0px">
                        <marquee-text :key="track.id" class="noselect" @click="$router.push('/player')">
                            <div class="marquee noselect" @click="$router.push('/player')" ref="marquee" style="padding: 0px 30px 0px 30px;">
                                {{track.title}} - {{track.artist}}
                            </div>
                        </marquee-text>
                    </div>
                    <div class="col-2 d-block d-sm-none align-self-center">
                        <div v-show="isPlaying" @click="pauseTrack()" >
                            <i class="material-icons" style="color: white; font-size: 2em;">pause_circle_outline</i>
                        </div>
                        <div v-show="!isPlaying" @click="resumeTrack()" >
                            <i class="material-icons" style="color: white; font-size: 2em;">play_circle_outline</i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto d-sm-block d-none">
                <div id="track-placeholder">
                    <router-link :to="'/player'">
                        <img class="img-fluid" width="75" height="75" v-if="track != ''"  v-lazy="track.cover"  :key="track.cover">
                    </router-link>
                </div>

            </div>
            <div class="col d-sm-block d-none align-self-center text-left">
                <router-link :to="'/album/' + album.id">
                    <span style="color: white;">{{track.title}}</span><br>
                </router-link>
                <router-link :to="'/artist/' + artist.id">
                    <span style="color: grey;">{{track.artist}}</span>
                </router-link>
            </div>

            <div class="col-6 d-none d-sm-block">
                <div class="row" style="padding-top: 5px;">
                    <div class="col text-right align-self-center" style="padding-top: 5px; height: 40px;">
                        <a class="btn btn-controls" @click="previousTrack()" >
                            <i class="material-icons" style="color: white; font-size: 2em;">skip_previous</i>
                        </a>
                    </div>
                    <div class="col-auto text-center" style="height: 40px;">
                        <a class="btn btn-controls" v-show="isPlaying" @click="pauseTrack()" >
                            <i class="material-icons" style="color: white; font-size: 2.5em;">pause_circle_outline</i>
                        </a>
                        <a class="btn btn-controls align-self-center" v-show="!isPlaying" @click="resumeTrack()" >
                            <i class="material-icons" style="color: white; font-size: 2.5em;">play_circle_outline</i>
                        </a>
                    </div>
                    <div class="col text-left align-self-center"  style="padding-top: 5px; height: 40px;">
                        <a class="btn btn-controls" id="nextTrack" @click="nextTrack()" >
                            <i class="material-icons" style="color: white; font-size: 2em;">skip_next</i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto align-self-center text-right">
                        <span style="color: white; font-size: 0.9em; padding-right: 10px;">{{currentTime}}</span>
                    </div>
                    <div class="col">
                        <div class="slidecontainer">
                            <input type="range" min="1" max="100" value="0" class="slider" id="myRange">
                        </div>
                    </div>
                    <div class="col-auto">
                        <span style="color: white; font-size: 0.9em; padding-right: 10px;">{{trackDuration}}</span>
                    </div>
                </div>
            </div>


            <!--valume control for large devices -->

            <div class="col d-none d-sm-none d-md-none d-lg-block align-self-center">
                <div class="row">
                    <div class="col text-right" style="padding-right: 0px !important; cursor: pointer;">
                        <div @click="muteVolume()" class="noselect" @wheel.prevent="controlVolume($event)">
                            <template v-if="volumeValue > 50">
                                    <i class="material-icons volume-icon" style="color: white; font-size: 1.3em;">volume_up</i>
                            </template>
                            <template v-if="volumeValue <= 50 && volumeValue >= 2">
                                <i class="material-icons volume-icon" style="color: white; font-size: 1.3em;">volume_down</i>
                            </template>
                            <template v-if="volumeValue < 2">
                                <i class="material-icons volume-icon" style="color: white; font-size: 1.3em;">volume_mute</i>
                            </template>
                        </div>
                    </div>
                    <div class="col-auto text-right" style="padding-left: 8px;">
                        <div class="volumeContainer" @wheel.prevent="controlVolume($event)" >
                          <input type="range"  @input="volumeControl($event)" min="0" :max="maxVolume" :value="volumeValue" class="volume" id="volume">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <template v-if="dashboard">
            <dashboard style="border-top: 1px solid rgb(23, 23, 23); background-color: #212121;"></dashboard>
        </template>


        <div class="row d-sm-none noselect" style="border-top: 1px solid rgb(23, 23, 23);">
            <div role="button" class="col-4 hvr-radial-out text-center noselect" @click="$router.push('/'), dashboard = false">
                <i style="color: white; font-size: 1.8em; margin: 10px;" @click="$router.push('/'), dashboard = false" class="material-icons noselect">home</i>
            </div>
            <div role="button" tabindex="0" @focusout="handleFocusOut($event)" class="col-4 hvr-radial-out text-center noselect" @click="dashboard = !dashboard">
                <i style="color: white; font-size: 1.8em; margin: 10px;" class="material-icons noselect">dashboard</i>
            </div>
            <div role="button" class="col-4 hvr-radial-out text-center noselect" @click="$router.push('/search'), dashboard= false">
                <i style="color: white; font-size: 1.8em; margin: 10px;" @click="$router.push('/'), dashboard = false" class="material-icons noselect">search</i>
            </div>
        </div>
    </div>
</template>

<script>
    import MarqueeText from 'vue-marquee-text-component'
    import Queue from './services/queue.vue';
    import Dashboard from './components/dashboard/dashboard.vue';

    export default {
        components: {
            MarqueeText,
            Queue,
            'dashboard': Dashboard
        },
        data(){
            return{
                tabs: {home: 'home', search: 'hearch', library: 'library'},
                track:'',
                currentTime:'0:00',
                currentTrackTimeInSecs: 0,
                max:0,
                audio:'',
                counter: 0,
                isPlaying: false,
                trackDuration: '0:00',
                tracks: {},
                index:0,
                currentPlayingTrack:0,
                artist: {},
                album: {},
                lyrics: {},
                isScrolling: false,
                currentLine: {},
                isVolumeMute: false,
                volumeBeforeMute: {},
                volumeValue: 100,
                maxVolume: 100,
                dashboard: false,
            }
        },
        mounted(){
            Event.$on('shuffleTracks', ()=>{
                for (let i = this.tracks.length - 1; i > 0; i--) {
                    const j = Math.floor(Math.random() * (i + 1));
                    [this.tracks[i], this.tracks[j]] = [this.tracks[j], this.tracks[i]];
                }
            });

            Event.$on('rewindTrack', ()=>{
                this.audio.currentTime = 0;
                var options = {
                    container: '#lyric',
                    easing: 'ease',
                    force: true,
                    cancelable: true,
                    x: false,
                    y: true
                };
                var cancelScroll = this.$scrollTo('#lyricStart', 500, options);
            });

            Event.$on('displayNavigation', ()=>{
                setTimeout(()=>{
                    document.getElementById('navigation').style.display = 'block';
                    document.getElementById('left-nav').style.setProperty("display", "",);
                    var element = document.getElementById("right-content");
                    element.className = element.className.replace(/\bcol-lg-12\b/g, "");
                }, 200);
            });

            Event.$on('playTrack', (data, index) => this.playTrack(data, index));
            Event.$on('playAlbum', (album, index, artist) => {
                this.album = album;
                this.artist = artist;
                this.playTrack(album.tracks, index);

            });
            Event.$on('playPopularTracks', (tracks, artist) => {
                this.artist = artist;
                this.playTrack(tracks, 0);
            });

            Event.$on('nextTrack', ()=> {
                this.nextTrack();
            });

            Event.$on('previousTrack', ()=> {
                this.previousTrack();
            });

            Event.$on('pauseTrack', ()=> {
                this.pauseTrack();
            });

            Event.$on('resumeTrack', ()=> {
                this.resumeTrack();
            });

            Event.$on('playTrack', ()=> {
                this.playTrack();
                console.log(this.album);
            });

            Event.$on('setTrackTime', (value) => this.audio.currentTime = value );
        },
        methods:{
            handleFocusOut(event){
                this.dashboard = false;
            },
            setMediaSession(track){
                if ('mediaSession' in navigator) {
                    navigator.mediaSession.setActionHandler('play', ()=> {
                        this.audio.play()
                    });
                    navigator.mediaSession.setActionHandler('pause', () => {
                        this.audio.pause();
                    });
                    navigator.mediaSession.setActionHandler('previoustrack', () => {
                        this.previousTrack();
                        Event.$emit('setCurrentPlayingTrack', this.tracks[this.index]);
                    });
                    navigator.mediaSession.setActionHandler('nexttrack', () => {
                        this.nextTrack();
                        Event.$emit('setCurrentPlayingTrack', this.tracks[this.index]);
                    });
                    navigator.mediaSession.metadata = new MediaMetadata({
                        title: this.track.title,
                        artist: this.artist.name,
                        album: this.album.name,
                        artwork: [
                          { src: this.album.cover,   sizes: '96x96',   type: 'image/jgp' },
                          { src: this.album.cover, sizes: '128x128', type: 'image/jgp' },
                          { src: this.album.cover, sizes: '192x192', type: 'image/jgp' },
                          { src: this.album.cover, sizes: '256x256', type: 'image/jgp' },
                          { src: this.album.cover, sizes: '384x384', type: 'image/jgp' },
                          { src: this.album.cover, sizes: '512x512', type: 'image/jgp' },
                        ]
                    });
                }
            },
            stopScroll(event){

            },
            controlVolume(event){
                if (event.deltaY > 0) {
                    if (this.audio.volume > 0.05) {
                        this.audio.volume = this.audio.volume - 0.1;
                        this.volumeValue = this.audio.volume * 100;
                    }
                } else {
                    if (this.audio.volume < 0.95) {
                        this.audio.volume = this.audio.volume + 0.1;
                        this.volumeValue = this.audio.volume * 100;
                    }
                }
                if (this.audio.volume > 0.1) {
                    this.isVolumeMute = false;
                }else{
                    this.isVolumeMute = true;
                }
            },
            muteVolume(){
                this.isVolumeMute = !this.isVolumeMute;
                if (this.isVolumeMute) {
                    this.volumeBeforeMute = this.audio.volume;
                    this.audio.volume = 0;
                    this.volumeValue = 0;
                }else{
                    this.audio.volume = this.volumeBeforeMute;
                    this.volumeValue = this.volumeBeforeMute * 100;
                }
            },
            selectTab(name){
                if (name == 'home') {
                    return home
                }else if(name == 'search'){

                }
            },
            detectScroll(){
                var scrolledDiv = document.getElementById("modal1___BV_modal_body_");
                scrolledDiv.onscroll = function(e){
                    this.isScrolling = true;
                };

            },
            showModal (track) {
                this.$refs.largPlayer.show();
                // axios.get('/api/track/lyric/'+this.track.id)
                //     .then(response => {this.lyrics = response.data; console.log(response)});
            },
            hideModal () {
                this.$refs.largPlayer.hide()
            },
            nextTrack(){
                this.index++;
                if(this.index <= (this.tracks.length - 1)){
                    this.playTrack(this.tracks, this.index);
                }else{
                    console.log('playlist ended');
                    this.index = this.tracks.length - 1;
                }
            },
            previousTrack(){
                this.index--;
                if(this.index < 0){
                    console.log("No more songs in the collection");
                    this.index = 0;
                }else{
                    if(this.index <= (this.tracks.length - 1)){
                        this.playTrack(this.tracks, this.index);
                    }
                }
            },
            volumeControl(event){
                var fraction = parseInt(event.target.value) / parseInt(this.maxVolume);
                if(this.audio){
                    this.volumeValue = volume.value;
                    this.audio.volume = fraction;
                }
                if (this.audio.volume <= 1 ) {
                    this.isVolumeMute = false;
                }
            },
            resumeTrack(){
                this.audio.play();
                this.isPlaying = true;
                this.$store.commit('setIsPlaying', this.isPlaying);

            },
            pauseTrack(){
                this.audio.pause();
                this.isPlaying = false;
                this.$store.commit('setIsPlaying', this.isPlaying);
            },
            playTrack(tracks, index){
                this.$store.commit('setPlayingTrack', tracks[index]);
                this.tracks = tracks;
                this.index = index;

                if(this.audio){
                    this.audio.pause();
                    this.audio = null;
                }

                this.isPlaying = true;
                this.$store.commit('setIsPlaying', this.isPlaying);

                this.track = this.tracks[index];

                this.currentTime = '';

                this.audio = new Audio(this.track.url);
                this.audio.play();
                this.audio.volume = this.volumeValue / 100;

                this.audio.onended = () => {
                    this.index++;
                    this.audio.currentTime = 0;
                    axios.patch('/api/track/'+this.track.id,{album_id: this.track.album_id});

                    if(this.index <= (this.tracks.length - 1)){
                        this.track = this.tracks[this.index];
                        this.audio.src = this.tracks[this.index].url;
                        this.audio.play();
                        this.audio.valume = this.volumeValue / 100;
                        Event.$emit('setCurrentPlayingTrack', this.tracks[this.index]);
                        this.$store.commit('setPlayingTrack', this.tracks[this.index]);
                        this.setMediaSession(this.track);

                    }else{
                        console.log('playlist ended');
                    }

                }


                var slider = document.getElementById("myRange");

                slider.oninput = ()=> {
                    this.audio.currentTime = slider.value;
                }

                setInterval(()=>{
                    this.currentTrackTimeInSecs = Math.round(this.audio.currentTime * 1000);
                    this.$store.commit('setTrackCurrentTimeInMilSecs', Math.round(this.audio.currentTime * 1000));
                    var mins = Math.floor(this.audio.currentTime / 60);
                    var secs = Math.floor(this.audio.currentTime % 60);
                    var totalSecs = Math.floor(this.audio.currentTime);
                    this.counter = Math.floor(this.audio.currentTime);
                    this.$store.commit('setTrackCurrentTimeInSecs', this.counter);


                    document.getElementById("myRange").value = this.counter;
                    if (secs < 10) {
                        secs = '0' + String(secs);
                    }
                    this.currentTime = mins + ':' +secs;
                    this.$store.commit('setTrackCurrentTime', this.currentTime)

                    this.audio.onloadedmetadata = () => {

                        this.max = Math.floor(this.audio.duration);
                        this.$store.commit('setTrackDurationInSecs', this.max);
                        document.getElementById("myRange").max = this.max;
                        var mins = Math.floor(this.audio.duration / 60);
                        var secs = Math.floor(this.audio.duration % 60);
                        if (secs < 10) {
                            secs = '0' + String(secs);
                        }
                        this.trackDuration = mins + ':' + secs;
                        this.$store.commit('setTrackDuration', this.trackDuration);
                    }

                }, 10);

            }
        }

    }
</script>

<style>

/* Important part */
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 250px;
    overflow-y: auto;
}
.modal-fullscreen1 .modal {
    padding: 0 !important;
}
.modal-fullscreen1 .modal-dialog {
    max-width: 100%;
    height: 100%;
    margin: 0;
}
.modal-fullscreen1 .modal-content {
    border: 0;
    min-height: 100%;
    height: auto;
}

.modal-fullscreen2  .modal {
    padding: 0 !important;
}
.modal-fullscreen2 .modal-dialog {
    max-width: 100%;
    height: 100%;
    margin: 0;
}
.modal-fullscreen2 .modal-content {
    width: calc(100% - 2rem);
    min-height: 100%;
    height: auto;
    margin: 1rem;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 0px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #50e356;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.btn-controls{
    padding: 0px !important;
}

.volumeContainer {
    float: right;
    padding-right: 20px;
}

.volume {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 0px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.volume:hover {
    opacity: 1;
}

.volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

.volume::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}
.volume-icon{
    padding-top: 5px;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .0s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.current-line{
    font-size: 1.5em !important;
}
.none-active-line{
    font-size: 1.2em;
    color: darkgrey !important;
}

.tab-button {
    position: relative;
    border: none;
    color: #FFFFFF;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.tab-button:after {
    content: "";
    background: grey;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.6s
}

.tab-button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

.marquee-text-wrap {
    overflow: hidden;
    color: white;
}

/* Radial Out */
.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #212121;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: white;
}
.hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}

#track-placeholder {
    width: 75px;
    height: 75px;
}

</style>
